<a href="https://colab.research.google.com/github/Tarun-23113/My_Python_Projects/blob/master/Pandas_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
df = pd.read_csv("/content/train.csv")

In [9]:
# Task 1: Show first 5 and last 5 rows

display(df.head(5))
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [10]:
# Task 2: Print column names and data types

df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
# Task 3: Check shape, use describe() on numeric columns

df.shape

df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
# Task 4: Select rows where 'Age' > 60 using iloc and loc both

df.loc[:][df['Age'] > 60]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S

In [13]:
# Task 5: Convert 'Pclass' to string using astype

df['Pclass'].astype(str)
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [14]:
# Task 6: Find how many missing values are in each column

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
# Task 7: Fill missing 'Age' values with the mean

df['Age'].fillna(value=df['Age'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [16]:
# Task 8: Drop rows where 'Embarked' is missing

df['Embarked'].dropna()

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 889, dtype: object

In [17]:
# Task 9: Remove duplicates in the dataset (if any)

df.drop_duplicates()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [18]:
# Task 10: Extract titles (Mr, Mrs, Miss) from 'Name' using regex with str.extract()

df['Titles'] = df['Name'].str.extract(r',\s*([A-Za-z]+)\.')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [19]:
# Task 11: Rename 'Sex' column to 'Gender'

df.rename(columns={'Sex':'Gender'}, inplace=True)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [20]:
# Task 12: Sort the dataset by 'Fare' in descending order

df.sort_values('Fare')

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S,Mr
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,Mr
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S,Mr
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0000,NaN,S,Mr
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,Mr
341,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S,Miss
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,Mr
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,Mr
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,Miss

In [21]:
# Task 13: Group by 'Pclass' and show average 'Age' and 'Fare'

df.groupby('Pclass')[['Age','Fare']].mean()

              Age       Fare
Pclass
1       38.233441  84.154687
2       29.877630  20.662183
3       25.140620  13.675550

In [22]:
# Task 14: Create a column 'Is_Child' where Age < 18 = True, else False

df['Is_Child'] = df['Age'] < 18
df.head(15)

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles,Is_Child
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,False
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr,False
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr,False
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master,True
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs,True
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Miss,True
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Miss,False
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr,False
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Mr,False
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Miss,True

In [23]:
# Task 15: Create age groups using pd.cut() in 5 bins

label = ['Child', 'Teenager', 'Adult', 'Middle Age', 'Old Age']
df['Age_Group'] = pd.cut(df['Age'], bins=5, labels=label)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles,Is_Child,Age_Group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,False,Teenager
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,False,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,False,Teenager
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,False,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,False,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev,False,Teenager
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,False,Teenager
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,False,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,False,Teenager
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,False,Teenager

In [24]:
# Task 16: Replace 'male' with 1 and 'female' with 0 in 'Sex' column using map()

mask = {'male': 1, 'female': 0}
df['Gender'] = df['Gender'].map(mask)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles,Is_Child,Age_Group
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,False,Teenager
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,False,Adult
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,False,Teenager
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,Mrs,False,Adult
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S,Mr,False,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S,Rev,False,Teenager
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S,Miss,False,Teenager
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,False,NaN
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C,Mr,False,Teenager
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q,Mr,False,Teenager

In [25]:
# Task 17: Extract last names from 'Name' using .str.split() or regex

df['Last_Name'] = df['Name'].str.extract(r'^([^,]+)')
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles,Is_Child,Age_Group,Last_Name
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,False,Teenager,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,False,Adult,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,False,Teenager,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,Mrs,False,Adult,Futrelle
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S,Mr,False,Adult,Allen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S,Rev,False,Teenager,Montvila
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S,Miss,False,Teenager,Graham
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,False,NaN,Johnston
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C,Mr,False,Teenager,Behr
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q,Mr,False,Teenager,Dooley

In [26]:
# Task 18: Create a pivot table: average 'Fare' per 'Sex' and 'Pclass'

Pivot = pd.pivot_table(df, values='Fare', index='Gender', columns='Pclass', aggfunc='mean')
Pivot

Pclass           1          2          3
Gender
0       106.125798  21.970121  16.118810
1        67.226127  19.741782  12.661633

In [27]:
# Task 19: Normalize 'Fare' column group-wise by 'Pclass' using groupby().transform()
import numpy as np

df['Normalized'] = df.groupby('Pclass')['Fare'].transform(np.log1p)
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Titles,Is_Child,Age_Group,Last_Name,Normalized
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,False,Teenager,Braund,2.110213
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,False,Adult,Cumings,4.280593
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,False,Teenager,Heikkinen,2.188856
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,Mrs,False,Adult,Futrelle,3.990834
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S,Mr,False,Adult,Allen,2.202765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,211536,13.0000,NaN,S,Rev,False,Teenager,Montvila,2.639057
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S,Miss,False,Teenager,Graham,3.433987
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss,False,NaN,Johnston,3.196630
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C,Mr,False,Teenager,Behr,3.433987
890,891,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,370376,7.7500,NaN,Q,Mr,False,Teenager,Dooley,2.169054

In [29]:
# Task 20: Use melt() to unpivot 'SibSp' and 'Parch' into a single column

pd.melt(df, id_vars=['PassengerId'], value_vars=['SibSp', 'Parch'], var_name='Mixed', value_name='count')

      PassengerId  Mixed  count
0               1  SibSp      1
1               2  SibSp      1
2               3  SibSp      0
3               4  SibSp      1
4               5  SibSp      0
...           ...    ...    ...
1777          887  Parch      0
1778          888  Parch      0
1779          889  Parch      2
1780          890  Parch      0
1781          891  Parch      0

[1782 rows x 3 columns]

In [30]:
#Exploratory Mini Project

In [32]:
df2 = pd.read_csv('/content/train.csv')
df2.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [36]:
# Step 1: Drop unnecessary columns ('PassengerId', 'Ticket', 'Cabin')

df2.drop(columns=['PassengerId', 'Ticket', 'Cabin'], inplace=True)
df2.head(20)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,16.7000,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,26.5500,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,31.2750,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,7.8542,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,16.0000,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,29.1250,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,13.0000,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,18.0000,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,7.2250,C

In [47]:
# Step 2: Create 'Title' feature from 'Name'

df2['Title'] = df['Name'].str.extract(r',\s*([A-Za-z]+)\.')
df2

,Title,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,Mr,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,Mrs,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,Miss,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,Mrs,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,Mr,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,Rev,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,13.0000,S
887,Miss,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000,S
888,Miss,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,23.4500,S
889,Mr,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,30.0000,C
890,Mr,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,7.7500,Q

In [48]:
new_order = list(df2.columns)
new_order.remove('Title')
new_order = ['Title'] + new_order
df2 = df2[new_order]
df2.head(20)

,Title,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,Mr,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,Mrs,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,Miss,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,Mrs,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,Mr,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S
5,Mr,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,Q
6,Mr,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,S
7,Master,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750,S
8,Mrs,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,S
9,Mrs,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708,C
10,Miss,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,16.7000,S
11,Miss,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,26.5500,S
12,Mr,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500,S
13,Mr,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,31.2750,S
14,Miss,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,7.8542,S
15,Mrs,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,16.0000,S
16,Master,0,3,"Rice, Master. Eugene",male,2.0,4,1,29.1250,Q
17,Mr,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,13.0000,S
18,Mrs,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,18.0000,S
19,Mrs,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,7.2250,C

In [49]:
# Step 3: Encode categorical features ('Sex', 'Embarked', 'Title')
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df2['Sex'] = le.fit_transform(df2['Sex'])
df2['Embarked'] = le.fit_transform(df2['Embarked'])
df2['Title'] = le.fit_transform(df2['Title'])
df2.head(20)

,Title,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,11,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500,2
1,12,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833,0
2,8,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250,2
3,12,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000,2
4,11,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500,2
5,11,0,3,"Moran, Mr. James",1,NaN,0,0,8.4583,1
6,11,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,51.8625,2
7,7,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,21.0750,2
8,12,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,11.1333,2
9,12,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,30.0708,0
10,8,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,16.7000,2
11,8,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,26.5500,2
12,11,0,3,"Saundercock, Mr. William Henry",1,20.0,0,0,8.0500,2
13,11,0,3,"Andersson, Mr. Anders Johan",1,39.0,1,5,31.2750,2
14,8,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.0,0,0,7.8542,2
15,12,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.0,0,0,16.0000,2
16,7,0,3,"Rice, Master. Eugene",1,2.0,4,1,29.1250,1
17,11,1,2,"Williams, Mr. Charles Eugene",1,NaN,0,0,13.0000,2
18,12,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.0,1,0,18.0000,2
19,12,1,3,"Masselmani, Mrs. Fatima",0,NaN,0,0,7.2250,0

In [57]:
# Step 4: Analyze survival rate by:
#    - Gender
#    - Class
#    - Title
#    - Age Group (use qcut or cut)

Sex = pd.crosstab(df2['Sex'], df2['Survived'], normalize=True)*100
display(Sex)
Class = pd.crosstab(df2['Pclass'], df2['Survived'], normalize=True)*100
display(Class)
Title = pd.crosstab(df2['Title'], df2['Survived'], normalize=True)*100
display(Title)
df2['Age_Group']  = pd.qcut(df2['Age'], q=3, labels=['Teenager', 'Adult', 'Old'])
Age_Group = pd.crosstab(df2['Age_Group'], df2['Survived'], normalize=True)*100
display(Age_Group)

Survived          0          1
Sex
0          9.090909  26.150393
1         52.525253  12.233446

Survived          0          1
Pclass
1          8.978676  15.263749
2         10.886644   9.764310
3         41.750842  13.355780

Survived          0          1
Title
0          0.112233   0.000000
1          0.112233   0.112233
2          0.112233   0.000000
3          0.448934   0.336700
4          0.112233   0.000000
5          0.000000   0.112233
6          0.112233   0.112233
7          1.907969   2.581369
8          6.172840  14.253648
9          0.000000   0.224467
10         0.000000   0.112233
11        48.933782   9.090909
12         2.918070  11.111111
13         0.000000   0.112233
14         0.673401   0.000000
15         0.000000   0.112233
16         0.000000   0.112233

Survived           0          1
Age_Group
Teenager   20.028011  14.425770
Adult      19.467787  13.025210
Old        19.887955  13.165266

In [56]:
df2

,Title,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Age_Group
0,11,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,7.2500,2,Teenager
1,12,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,71.2833,0,Old
2,8,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,7.9250,2,Adult
3,12,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,53.1000,2,Old
4,11,0,3,"Allen, Mr. William Henry",1,35.0,0,0,8.0500,2,Old
...,...,...,...,...,...,...,...,...,...,...,...
886,14,0,2,"Montvila, Rev. Juozas",1,27.0,0,0,13.0000,2,Adult
887,8,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,30.0000,2,Teenager
888,8,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,NaN,1,2,23.4500,2,NaN
889,11,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,30.0000,0,Adult
890,11,0,3,"Dooley, Mr. Patrick",1,32.0,0,0,7.7500,1,Adult

In [77]:
# Step 5: Use groupby() + agg() to generate a mini-report

display(df2.groupby('Pclass')['Survived'].sum())
display(df2.groupby('Sex')['Survived'].sum())
df2['Fare_Group'] = pd.qcut(df2['Fare'], q=4, labels=['Gen', 'SL', 'AC', 'Exe'])
display(df2.groupby(['Pclass','Fare_Group'])[['Survived', 'Age']].sum())

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

Sex
0    233
1    109
Name: Survived, dtype: int64

<ipython-input-77-0eccac927035>:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  display(df2.groupby(['Pclass','Fare_Group'])[['Survived', 'Age']].sum())

                   Survived      Age
Pclass Fare_Group
1      Gen                0   150.00
       SL                 0     0.00
       AC                27  1775.50
       Exe              109  5185.92
2      Gen                0     0.00
       SL                33  2751.50
       AC                42  1947.33
       Exe               12   470.00
3      Gen               44  3901.00
       SL                35  3046.42
       AC                32  1425.50
       Exe                8   552.00

In [79]:
df2.to_csv("/content/cleaned_train.csv")